accent-color = #1c7ccc
text-color = #fff
body-background = #060ab2
hover-color = #3892dc
active-btn-color = #326ec7
active-link-color = #96d0ff
disabled-color = #4c8ec4

small-media-width = 576px
medium-media-width = 768px

container-min-width = 320px
container-max-width = 1440px
